
Readme Pics/.DS_Store
/.vs/TanpopoAPS/FileContentIndex
/TanpopoClient/obj/Debug
/TanpopoHost/obj/Debug
/TanpopoWeb/obj
/TanpopoWeb/bin/Debug/net9.0
/.vs/TanpopoAPS/config
/.vs/TanpopoAPS/v17/DocumentLayout.json
/.vs/TanpopoAPS/v17/DocumentLayout.backup.json
/.vs/TanpopoAPS/copilot-chat
/.vs/TanpopoAPS/CopilotIndices
/TanpopoClient/bin/Debug
/TanpopoHost/bin/Debug
